<header class="nav flex flex-row row py-2 mb-6 w-full justify-between">
	<div>
		<a class="underline p-2 rounded font-bold" href='{{ relLangURL "" }}'>{{ i18n "Home" }}</a>
		<a class="underline p-2 rounded font-bold" href='{{ relLangURL "blog" }}'>Blog</a>
	</div>
	
	<i class="invisible theme-toggle text-blue-500 hover:text-blue-700"
		onclick="lightDark(this)"></i>

	<div class="languages px-2">
		{{ range $i, $e := $.AllTranslations }}
			<a class='{{if eq .Lang $.Lang}} selectedLang {{ else }} notSelectedLang {{end}}' title="{{ .Lang }}" lang="{{ .Lang }}" hreflang="{{ .Lang }}" href="{{ .Permalink }}"> {{ .Language.LanguageName }}</a>
			{{ if not $i }} | {{ end }}
		{{ end }}
	</div>
</header>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DC3ZC89TFR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DC3ZC89TFR');
</script>

<script>
	const lightDark = (el) => {
		let html = document.querySelector("html");
		if (html.classList.contains("dark")) {
			html.classList.remove("dark");
			el.classList.add("fa-moon");
			el.classList.remove("fa-sun");
			window.localStorage.setItem("theme", "light");
		} else {
			html.classList.add("dark");
			el.classList.add("fa-sun");
			el.classList.remove("fa-moon");
			window.localStorage.setItem("theme", "dark");
		}
	};
</script>