@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer components {
  .nav {
    @apply text-lg text-blue-500 dark:text-gray-300 font-semibold;
  }
  .nav > a {
    @apply hover:text-blue-700;
  }
  .panel {
    max-height: 0;
    transition: 0.3s ease-out;
  }
  h2.accordion {
    @apply text-blue-600; color: #70acd1;
    /* @apply text-blue-600; color: #5d90af; */
    /* @apply text-blue-600 dark:text-indigo-400; */
  }
  a {
    @apply hover:underline text-[#37b2ff];
    /* @apply hover:underline text-blue-500 hover:text-blue-700; */
    /* @apply hover:underline text-[#70acd1] hover:text-indigo-500; */
    /* @apply text-blue-500 hover:text-blue-700 hover:underline dark:text-indigo-300 dark:hover:text-indigo-500; */
  }
  .active {
    @apply overflow-visible;
  }
  h1 {
    @apply text-4xl mb-5 mt-1;
  }
  h2 {
    @apply text-3xl mb-4 mt-1;
  }
  h3 {
    @apply text-2xl mb-3 mt-1;
  }
  h4 {
    @apply text-xl mb-2 mt-1;
  }
  h5 {
    @apply text-lg mb-2 mt-1;
  }

h1 {
	@apply text-[#70acd1];
}

  .prose ul,
  .prose ol {
    li::marker {
      @apply rounded;
      /* @apply text-gray-700 dark:text-gray-200; */
    }
  }

  body {
    @apply  text-base bg-stone-50 text-gray-200; background-color: #081720;
    /* @apply  text-base bg-stone-50 text-gray-200; background-color: #5b4b87; */
  }
  html {
    touch-action: manipulation;
    scroll-behavior: smooth;
  }
  p.rounded {
	@apply hover:bg-[#13374d];
  }
  p {
    @apply mt-2 mb-2 ;
  }
  summary {
    @apply block text-sm;
  }
  blockquote {
    @apply bg-gray-100 dark:bg-dark;
  }
  .tags,
  .categories {
    @apply p-1 mr-2 mb-2 text-sm rounded hover:shadow;
  }
  .categories {
    @apply text-green-800 bg-green-100 hover:bg-green-200 border border-green-600 dark:border-green-100 !important;
  }
  .tags {
    @apply text-gray-800 bg-gray-200 hover:bg-gray-300 border border-gray-600 dark:border-gray-100 !important;
  }
  .pagination {
    @apply flex flex-row justify-center;
  }
  .page-link {
    @apply px-2 sm:px-4 py-2 border border-gray-200 flex justify-center items-center text-gray-500 hover:text-gray-800 hover:bg-gray-200;
  }
  .page-item.disabled > .page-link {
    @apply text-gray-300 bg-white;
  }
  .page-item.active > .page-link {
    @apply bg-gray-300 pointer-events-none text-gray-800;
  }
}

.gamePage {
	@apply text-5xl mb-5 mt-1 font-black;
}

.boxShadow {
	border-radius: 8px; box-shadow: 5px 5px 10px #000000, -5px -5px 10px #0e293a;
	/* border-radius: 8px; box-shadow: 5px 5px 10px #000000, -5px -5px 10px #13374d; */
}

.boxShadowBR {
	border-radius: 8px; box-shadow: 5px 5px 10px #000000;
}

.profile1 {
	margin: 0px 10px 15px 10px;
	/* @apply rounded-none; border-radius: 8px; box-shadow: 5px 5px 10px #2f2b3b, -5px -5px 10px #7562ab; margin: 0px 5px 15px 5px; */
}

.profile2 {
	@apply col-span-2  bg-[#0f2c3d];
	/* @apply col-span-2  bg-[#0c2432]; */
	/* @apply col-span-2; border-radius: 8px; box-shadow: 5px 5px 10px #2f2b3b, -5px -5px 10px #7562ab; */
	/* @apply col-span-2; border-radius: 8px; box-shadow: inset 3px 3px 6px #4d4073, inset -6px -6px 12px #645395; */
}

.profile3 {
	@apply p-2;
	/* @apply bg-gray-300 dark:bg-darker p-2; border-radius: 8px; box-shadow: 5px 5px 10px #4d4073, -5px -5px 10px #645395; */
}

.profilePhoto {
	@apply rounded-full; border-radius: 8px;
	/* @apply rounded-full; border-radius: 8px; box-shadow: 5px 5px 10px #4d4073, -5px -5px 10px #645395; */
}

.contentBox {
	@apply bg-[#123549];
	/* background-color: #123549; */
}

.blog {
	@apply rounded-lg p-6 text-white;
	box-shadow: inset 3px 3px 6px #000000, inset -6px -6px 12px #0e293a;
	background-color: #0f2c3d;
	/* background-color: #123549; */
	margin: 0px 10px 20px 10px;
}

.blogSummary {
	border-radius: 8px; box-shadow: 5px 5px 10px #000000, -5px -5px 10px #0e293a;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: #123549;
	/* border-radius: 8px; box-shadow: 5px 5px 10px #000000, -5px -5px 10px #13374d; */
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.contentPage {
	@apply rounded-lg p-6 text-white;
	box-shadow: inset 3px 3px 6px #000000, inset -6px -6px 12px #0e293a;
	background-color: #123549;
	margin: 0px 2px 20px 2px;
	max-width: 100%;
	/* padding-left: 20px; */
	/* padding-right: 20px; */
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 30px;
	padding-bottom: 10px;
}

.content {
	font-size: 18px;
}

.content img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	padding-bottom: 0px;
	max-width: 100%;
	/* max-height: 100%; */
	max-height: 620px;
}

.content h1, 
.content h2 {
	color: #9ad1f3;
}

.content h1 {
	margin-bottom: 0px;
}

.content p,
.content iframe {
	margin-bottom: 20px;
}

.content iframe {
	max-width: 100%;
}

figcaption {
	color: #b8b8b8;
	text-align: center;
	font-style: italic;
	margin-top: 0px;
	margin-bottom: 20px;
}

.gamePage img,
.max300 {
	max-width: 300px;
	max-height: 300px;
	margin-top: 30px;
	margin-bottom: 30px;
}