{{ range.Site.Params.project.list }}
<div class="containerProject" style="display: flex; align-items: center; justify-content: center;">
	<div class="imageProject" style="float: left">
		<a href="{{ relLangURL .url }}"><img src="{{ `images` | relURL }}/{{ .imageIcon }}" class="softShadow" style="max-width: 70px; border-radius: 15%;"/></a>
	</div>
	<div class="textProject" style="float: right; padding-left: 20px; padding-top: 10px;">
		<h4>
			<b><a href="{{ relLangURL .url }}">{{- i18n .title -}}</a></b>
		</h4>
		<p class="markdownify">{{- i18n .description | markdownify -}}</p>
	</div>
</div>
{{ end }}
